.navbar-nav li{
    list-style: none;
    position: relative;
}
.sub-menu li a{
    color: black;
    display: block;
    text-decoration: none;
}
.navbar-nav ul.sub-menu{
    position: absolute;
    padding: 15px 0px;
    list-style: none;
    width: 200px;
    display: none;
}
.navbar-nav li:hover ul.sub-menu{
    display: block;
}
ul.sub-menu a{
    padding: 8px 15px;
    border-bottom: 1px solid black;
}
ul.sub-menu li:hover a{
    border-bottom: 1px solid rgb(129, 129, 177);
    color: blueviolet;
}
ul.sub-menu li:last-child a{
    border: none;
}